
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header {
    Đối tác sản xuất   
}

<div class="form-group" style="margin-left: 12px">
    <button type="button" class="btn btn-success" onclick="GetDataForDialog(0)">
        <i class="fa fa-plus" aria-hidden="false"></i>
        Thêm mới
    </button>
</div>
<div class="form-group row pull-right" id="Filter">
    <div class="col-md-5">
        <div class="col-md-12">
            <input type="text" class="form-control" id="TenNSXFilter" placeholder="Tên nhà sản xuất">
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" id="btn-Filter">Tim kiếm</button>
    </div>
</div>
<table class="table table-striped">
    <thead id="thead">
        <tr>
            <td>STT</td>
            <td>Thao Tác</td>
            <td>Tên nhà sản xuất</td>
            <td>Thông tin</td>
            <td>Logo</td>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" style="margin:0;"></ul>
</nav>

<div class="modal" id="dialog_nsx">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nhà sản xuất mới</h4>
            </div>

            <!-- Modal body -->
            <form id="formfrm">
                <div class="modal-body">
                    <input id="MaNSX" name="MaNSX" hidden />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Tên nhà sản xuất:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="TenNSX" name="TenNSX">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Thông tin:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ThongTin" name="ThongTin">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Logo:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Logo" name="Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @*form tạm như này nhé em tùy chỉnh lại cho đẹp*@
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SaveRecord">Ghi</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Libraryjs/Library.js"></script>
    <script src="~/Areas/Admin/ControllerJs/NhaSanXuatjs/NhaSanXuat.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}


