
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header {
    Quản lý danh mục sản phẩm
}

<div class="form-group" style="margin-left: 12px">
    <button type="button" class="btn btn-success" onclick="GetDataForDialog(0)">
        <i class="fa fa-plus" aria-hidden="false"></i>
        Thêm mới
    </button>
</div>
<div class="form-group pull-right" id="Filter">
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-12">
                <input type="text" class="form-control" id="NameFilter" placeholder="Tên danh mục">
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="btn-Filter">Tim kiếm</button>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead id="thead">
        <tr>
            <td class="sort">STT</td>
            <td class="sort">Thao Tác</td>
            <td class="sort" data-sort="Name">Tên danh mục</td>
            <td class="sort" data-sort="CreateDate">Ngày tạo</td>
            <td class="sort" data-sort="CreateBy">Người tạo</td>
            <td class="sort" data-sort="ModifiedDate">Ngày sửa</td>
            <td class="sort" data-sort="ModifiedBy">Người sửa</td>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" style="margin:0;"></ul>
</nav>

<div class="modal" id="dialog_productcate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Danh mục sản phẩm mới</h4>
            </div>

            <!-- Modal body -->
            <form id="formfrm">
                <div class="modal-body">
                    <input id="ID" name="ID" hidden />

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Tên danh mục:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Name" name="Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Meta:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="MetaTitle" name="MetaTitle">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Ngày tạo:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" id="CreateDate" name="CreateDate" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Tạo bởi:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="CreateBy" name="CreateBy">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Ngày sửa:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" id="ModifiedDate" name="ModifiedDate" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Sửa bởi:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ModifiedBy" name="ModifiedBy">
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
            <div class="row">
                <div class="col-lg-4">
                    <label>MetaKeywords</label>
                </div>
                <div class="col-lg-8">
                    <select class="form-control" id="MetaKeywords">
                    </select>
                </div>
            </div>
        </div>*@

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Từ khóa</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="MetaKeywords" name="MetaKeywords">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Mô tả SEO:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="MetaDescriptions" name="MetaDescriptions">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Trạng thái:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Status" name="Status">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Hiển thị ở trang chủ:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ShowOnHome" name="ShowOnHome">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            @*form tạm như này nhé em tùy chỉnh lại cho đẹp*@
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SaveRecord">Ghi</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Libraryjs/Library.js"></script>
    <script src="~/Areas/Admin/ControllerJs/ProducCategoryjs/ProductCategory.js"></script>
}

